{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}


{% if app.user %}

<h2><p>Modifier mon pseudo / mon email</p></h2>

{{form(formEditProfile)}}
    

{% endif %}
{% endblock %}
