
#board{
  width:170px;
  height:50px;
  border: 1px solid black;
  border-radius: 45px;
}
#skate-text{
  display:flex;
  text-align:center;
  justify-content:center;
}
#holes-container{
  position :relative;
  width: 20px;
  height: 20px;
}
.hole{
  width:4px;
  height:4px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}


/* Position des holes */
.topLeft {
  top: 0;
  left: 0;
}

.topRight {
  top: 0;
  right: 0;
}

.botmLeft {
  bottom: 0;
  left: 0;
}

.botRight {
  bottom: 0;
  right: 0;
}