$equipment-color: white;



.container-skate {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.child {
  padding-bottom: 10px;
}


#skateboard {
  background-color: green;
  display: flex;
  align-items: center;
  flex-direction: column;
  .streak {
    background: black;
    opacity: 0.2;
    height: 62%;
    width: 62px;
  }
  .skateboard-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: -130px;
    z-index: 2;
  }
  .board {
    width: 50px;
    height: 170px;
    border-radius: 25px;
    background: $equipment-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .wheels {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: -8px;
    div {
      height: 20px;
      width: 20px;
      border-radius: 25px;
      background: darkgray;
      border: 5px solid grey;
    }
  }
  .screw-holes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    div {
      background: black;
      width: 4px;
      height: 4px;
      border-radius: 2px;
    }
  }
}