.my-box{
    width: fit-content;
    position: relative;
    background-color:var(--menu-background);
    padding: 20px;
    
}
.my-box {
    clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 20px, 100% 100%, 0 100%);
}
  
.box-cut{
    border-left: 1.25rem solid var(--menu-background);
    border-top: 1.25rem solid var(--bg-color);
    content: "";
    position: absolute;
    right: 0;
    top: 0;
}


/****-------ADMIN------****/
.admin-bottom{
    margin-top: 16px;
}
/****------ LISTS ------*****/
.list-container{
    border: 2px solid black;
    border-radius: 4px;
}
.list-container li{
    padding: 4px;
}
.list-container li:nth-child(even){
    background-color: #CCC
}
.list-container li:nth-child(odd){
    background-color: #FFF
}