.my-box{
    width: fit-content;
    position: relative;
    background-color:var(--menu-background);
    padding: 20px;
    max-width: 50%;
    clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 20px, 100% 100%, 0 100%);
    min-width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
  
.box-cut{
    border-left: 1.25rem solid var(--menu-background);
    border-top: 1.25rem solid var(--bg-color);
    content: "";
    position: absolute;
    right: 0;
    top: 0;
}


/****-------ADMIN------****/
.admin-bottom{
    margin-top: 16px;
}
/****------ LISTS ------*****/
.list-container{
    border: 2px solid black;
    border-radius: 4px;
    max-height: 400px;
    overflow: scroll;
    
}
.list-container li{
    padding: 4px;
}
.list-container li:nth-child(even){
    background-color: #CCC
}
.list-container li:nth-child(odd){
    background-color: #FFF
}
.table-admin td, .table-admin th{
    
    padding: 6px;
}
.table-admin .moderate-td{
    display: flex;
    justify-content: space-between;
}
.table-admin tr:nth-child(odd){
    border: 1px solid black;
    background-color: #f2f2f2;
}
.table-admin tr:nth-child(even){
    border: 1px solid black;
}
.table-admin th{
    background-color: #f2f2f2;
    color: black;
    border: black solid 1px;
}
.table-admin-box{
    max-height: 100vh;
 
}
.table-admin{
    min-width: 100%;
}
.scrollable-box{
    overflow: scroll;
    width: 100%;
    height: 100%;
}
#my-admin-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#my-admin-title h1{
    font-size: 2rem;
    text-decoration: solid black 2px;
    text-decoration: underline;
    padding-bottom: 1rem;
}
#my-admin-title h2{
    font-size: 1.25rem;
}