.my-box{
    width: fit-content;
    position: relative;
    background-color:#D4D4D4;
    padding: 20px;
}
.box-cut{
    border-left: 1.25rem solid #D4D4D4;
    border-top: 1.25rem solid var(--bg-color);
    content: "";
    position: absolute;
    right: 0;
    top: 0;
}


/****-------ADMIN------****/
.admin-bottom{
    margin-top: 16px;
}
/****------ LISTS ------*****/
.list-container{
    border: 2px solid black;
    border-radius: 4px;
}
.list-container li{
    padding: 4px;
}
.list-container li:nth-child(even){
    background-color: #CCC
}
.list-container li:nth-child(odd){
    background-color: #FFF
}