

.toggle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.5em;
  padding: 0.125em;
  background-image: linear-gradient(to bottom, #d0c4b8, #f5ece5);
  box-shadow: 0 1px 1px rgb(255 255 255 / 0.6);
}

.toggle-checkbox {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  z-index: 1;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.toggle-container {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 0.375em;
  width: 3em;
  height: 1.5em;
  background-color: #e1dacd;
  box-shadow: inset 0 0 0.0625em 0.125em rgb(255 255 255 / 0.2),
    inset 0 0.0625em 0.125em rgb(0 0 0 / 0.4);
  transition: background-color 0.4s linear;
}
/* Style lorsque le .toggle-wrapper possède la classe 'active' => Qd le formulaire est visible */
.toggle-wrapper.active .toggle-container{
  background-color: #f3b519;
}

.toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0.0625em;
  border-radius: 0.3125em;
  width: 1.375em;
  height: 1.375em;
  background-color: #e4ddcf;
  box-shadow: inset 0 -0.0625em 0.0625em 0.125em rgb(0 0 0 / 0.1),
    inset 0 -0.125em 0.0625em rgb(0 0 0 / 0.2),
    inset 0 0.1875em 0.0625em rgb(255 255 255 / 0.3),
    0 0.125em 0.125em rgb(0 0 0 / 0.5);
  transition: left 0.4s /*cubic-bezier(.65, 1.35, .5, 1)*/;

}
/* Style lorsque le .toggle-wrapper possède la classe 'active' => Qd le formulaire est visible */
.toggle-wrapper.active .toggle-button {
  left: 1.5625em;
}

.toggle-button-circles-container {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 0.125em;
  position: absolute;
  margin: 0 auto;
}

.toggle-button-circle {
  border-radius: 50%;
  width: 0.125em;
  height: 0.125em;
  background-image: radial-gradient(circle at 50% 0, #f6f0e9, #bebcb0);
}

.delete-button {
  padding: 4px;
  margin: 4px;
  background-color: red;
  color: black;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.delete-button-confirm {
  background-color: rgb(228, 0, 0);
  border: 2px solid rgb(117, 0, 0);
  color: black;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

/* DARK MODE BUTTON */
label#dark-mode-label {
  width:50px;
  height:20px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 20px;
  box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
label#dark-mode-label:after {
  content: "";
  width:18px;
  height: 18px;
  position: absolute;
  top:1px;
  left:1px;
  background: linear-gradient(180deg,#ffcc89,#d8860b);
  border-radius: 18px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}
input#toggle-night-mode {
  width: 0;
  height: 0;
  visibility: hidden;
}

input#toggle-night-mode:checked + label {
  background: #242424;
}
input#toggle-night-mode:checked + label:after {
  left:49px;
  transform: translateX(-100%);
  background: linear-gradient(180deg,#777,#3a3a3a);
}
label#dark-mode-label, label#toggle-night-mode:after {
  transition: 0.3s
}
label#dark-mode-label:active:after{ 
  width: 26px; 
}