.search-filters-container {
	position: absolute;
	z-index: 9999;
	top: 91px;
	left: 16px;
	max-width: none;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	max-width: 30%;
}
#search-form {
	margin: unset;
	box-shadow: unset;
	padding-bottom: unset;
}
#search-form h4,
.filter-button,
.filter-button-big,
.filter-button-big label {
	font-family: "SkateFont2";
}
.filter-button-big:hover{
	text-decoration: underline;
}
#search-form label label,
.filter-button {
	font-weight: 600;
	font-family: "Annie Use Your Telescope";
	font-size: 1.25rem;
	margin-bottom: unset;
}
#search-form label label:not(.required):hover{
	text-decoration: underline	;
	cursor: pointer;
}
.filter-button {
	display: flex;
	align-items: end;
}
#toggleFilters {
	display: flex;
	justify-content: center;
	width: 100%;
}
.arrow-toggle-filters {
	box-shadow: var(--text-color) 0px -12px 15px -18px inset;
	font-size: 1.25rem;
	width: 20rem;
	color: var(--text-color);
	font-size: 1.25rem;
	font-size: 1.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 30px;
	fill: var(--text-color);
	font-family: "SkateFont2", sans-serif;
}
form#search-form{
	background-color: unset;
}
#searchFilterContainer{
	background-color: var(--transparent-background);
}
.submit-filters-form-btn{
	border: 1px solid red;
    border-radius: 12px;
    padding: 4px;
    background-color: var(--background-color);
    color: var(--text-color);
	box-shadow: var(--text-color) -2px 4px 0px;
    -webkit-border-radius: 12px;
	margin-bottom: 4px;
}
.submit-filters-form-btn:hover{
	box-shadow: var(--text-color) -1px 2px 0px;
    transform: translateY(2px);
    background-color: var(--button-hover);
}
