form{
    margin: 1rem;
    padding: 1rem; 
    border-radius: 0.5rem; 
    max-width: 28rem; 
    background-color: var(--transparent-background); 
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
}
form h1{
    margin-bottom: 1rem; 
    font-size: 1.25rem;
    line-height: 1.75rem; 
    font-weight: 500; 
}
form label{
    display: block; 
    margin-bottom: 0.5rem; 
    font-weight: 500; 
    color: var(--text-color); 
}

/* Styles pour les champs de saisie */
input[type="email"],
input[type="password"],
input[type="text"],
input[type="textarea"],
input[type="select"],
textarea {
  width: 100%; /* w-full */
  padding: 0.5rem 1rem; /* px-4 py-2 */
  border: 1px solid #cbd5e0; /* border */
  border-radius: 0.25rem; /* rounded-lg */
  outline: none; /* focus:outline-none */
  transition: border-color 0.2s, box-shadow 0.2s; /* focus:ring-2 focus:ring-blue-500 */
  /* color: var(--text-color-opposite) */
}
/* Pour avoir le texte du select toujours en noir */
select#orderCreation{
    color: black;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}
/* Styles pour les champs de saisie en focus */
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="textarea"]:focus,
input[type="select"]:focus,
textarea:focus {
  border-color: var(--accent-color); /* focus:ring-blue-500 */
  box-shadow: 0px 0px 0px 3px var(--accent-color); /* focus:ring-2 focus:ring-blue-500 */
  /* color: var(--text-color-opposite) */
}


.submit-button{
    display: flex;
    justify-content: center;
    width: 30%;
    background-color: #949494;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    cursor: pointer;
}
.submit-button:hover{
    background-color: #616161 ;
    scale: 1.01;
}
/* Barres de recherche */
