
#list-spots-desktop-global{
    display: flex;
    flex-direction: column;
    position:absolute;
    top: 91px;
    z-index: 9999;
    right: 0px;
    width: 20rem;
    background-color: var(--transparent-background);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    background: var(--transparent-background);
}
/************* TOGGLE LIST SPOT  ***********/
#toggleListSpots{
    width: 20rem;
    color: var(--text-color);
    /* background: var(--transparent-background); */
    font-family: 'SkateFont2', sans-serif;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-spots-desktop{
    max-height: 350px;
    overflow-y: scroll;
    max-width: 28rem;
}
/********************** LISTS **********************/
ul.list-spots{
    padding: 1rem;
    list-style: none;
}
.list-spots li{
    display: flex;
    justify-content: space-between;
    padding: 4px 12px 4px 12px;
    margin: 0.5rem 0;
    border-radius: 4px;;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    /* overflow-x: scroll; */
    color: white;
    cursor: pointer;
    height: 100px; 
    background-position: center center; 
    background-size: cover; 
}
div.left p{
    transition: transform 0.3s ease-out;
}
.list-spots li:hover div.left p{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.list-spots li:nth-child(even){
    background-color: rgba(211, 211, 211, 0.466);
}
.list-spots li:nth-child(odd){
    background-color: rgba(173, 216, 230, 0.377);
}

ul.list-spots{
    width: 100%;
    /* overflow: scroll; */
}


ul.list-spots-desktop{
    width: 30%;
}


/*************- MINIATURE LISTE SPOT ************/
.miniatures-spot{
    display: flex;
    gap: 1px;
}
.right{
    color: var(--text-color);
    height: fit-content;
    
    text-shadow: 3px 3px 6px var(--text-color-opposite);
      
      
}
/****OPTION MOBILE POUR LA CARTE*****/
@media screen and (max-width: 768px) {
    #toggleListSpots{
        display: none;
    }
}