*{
    text-decoration: none;
    list-style: none;
    font-family: 'SkateFont2', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'SkateFont1';
    src: url('/fonts/ENDLESSBUMMER-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'SkateFont2';
    src: url('/fonts/Baskararegular.ttf') format('truetype');
}
@font-face {
    font-family: 'SkateFont3';
    src: url('/fonts/pandoramaDEMO.otf') format('opentype');
}

/**********GESTION DES COULEURS ET MODE NUIT *************/
:root {
    --bg-color: white;          /* Couleur de fond */
    --text-color: #333;         /* Couleur du texte */
    --accent-color: #3b71ca;    /* Couleur d'accentuation */
    --menu-background: #D4D4D4;
    --transparent-background: rgba(255, 255, 255, 0.273);
    --text-color-opposite: white;
}

/* Mode nuit */
body.night-mode {
    /* --bg-color: #1a1a1a; */
    --bg-color: #222222;
    --text-color: white;
    --accent-color: #3b71ca;
    --menu-background: #102A43;
    --transparent-background: rgba(0, 0, 0, 0.273);
    --text-color-opposite: #333;

}

/* Appliquer les couleurs */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
    background-image: url('../img/nnnoise.svg');
    background-repeat: repeat;
}
a {
    color: var(--accent-color);
}




img.logo-strasspot-homepage{
    max-width: 100%;
}
.home-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
   
/********************IMAGES**********************************/

.image-show-spot{
    width: 400px;
}
/*************SHOW_SPOT******************/
.show_spot_note{
    display: flex;
    align-items: center;
}


/*******GESTION DES MARGES SUR LA PAGE ********/ 
.page-width{
    margin:0 1.5rem;
}

@media (min-width: 1024px) {
    .page-width{
        margin: 0 7rem;
    }
}