#map{
    position: absolute;
    top: 0px;
    right: 0px;
    outline: none;
    width: 100vw;
    height: 100vh;
}
.desktop-nav{
position: absolute;
top: 0;
left: 0;
width: 98.5%;
background-color: rgba(255, 255, 255, 0.273);
z-index: 9999;
}
.list-spots-desktop{
    position:absolute;
    top: 105px;
    z-index: 9999;
    right: 0;
    background-color: rgba(255, 255, 255, 0.273);
    max-width: 30%;
    max-height: 100vh;
    overflow: scroll;
}
/********************** LISTS **********************/
ul.list-spots{
    list-style: none;
}
.list-spots li{
    display: flex;
    justify-content: space-between;
    padding: 4px 12px 4px 12px;
    margin: 0.5rem 0;
    border-radius: 4px;;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    overflow-x: scroll;
}
.list-spots li:nth-child(even){
    background-color: rgba(211, 211, 211, 0.466);
}
.list-spots li:nth-child(odd){
    background-color: rgba(173, 216, 230, 0.377);
}

ul.list-spots{
    width: 100%;
    overflow: scroll;
}

@media (min-width: 768px) {
    ul.list-spots-desktop{
        width: 30%;
    }
    .form-add-spot.active {
        top: 105px;
        right: 330px;
        position: absolute;
        z-index: 9999;
        display: block;
    }
}
/*************- MINIATURE LISTE SPOT ************/
.miniatures-spot{
    display: flex;
    gap: 1px;

}
/**********----BOUTTON---*************/
/* Choix du tile layer */
.choose-layer-container{
    position: absolute;
    z-index: 9999;
    left: 50px;
    bottom: 0;
    margin-bottom: 10px;
}
.choose-layer-item{
    background-color: white;
    border: 1px solid white;
    border-radius: 2px;
}
.choose-layer-item span{
    color: black;
    font-size:22px;
    margin: 6px;
}
/* control de zoom Leaflet*/
.leaflet-top{
    top: unset !important;
    bottom:0 !important;
    margin-bottom:10px !important;
}
/*********form-spot*****************/
#add-user-pos{
    background-color: #93C5FD;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    cursor: pointer;
}
#add-user-pos:hover{
    background-color: #5aa7ff ;
    scale: 1.01;
}

#closeFormSpotCross{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 6px;
}
#closeFormSpotCross svg:hover{
    fill: red;
    transition: fill 0.2s;
    -webkit-transition: fill 0.2s;
    -moz-transition: fill 0.2s;
    -ms-transition: fill 0.2s;
    -o-transition: fill 0.2s;
}
#closeFormSpotCross svg{
    fill: black;
    transition: fill 0.2s;
    -webkit-transition: fill 0.2s;
    -moz-transition: fill 0.2s;
    -ms-transition: fill 0.2s;
    -o-transition: fill 0.2s;
}
#form-spot-id{
    background-color: rgba(255, 255, 255, 0.694);
    animation: fadeIn 0.5s ease;
    -webkit-animation: fadeIn 0.5s ease;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }  
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { display: none; }
  }  
#form-spot-id>form{
    display: flex;
    flex-direction: column;
    background-color: transparent;

}
#form-spot-id form div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form>div>textarea{
    min-height: 50px;
    background-color: rgba(255, 255, 255, 0.451);
}
#form-spot-id form div input{
    background-color: rgba(255, 255, 255, 0.451);
}



/*---open/close form spot---*/
.add-spot-title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.form-add-spot{
    animation: fadeOut 0.5s ease;
    -webkit-animation: fadeOut 0.5s ease;
    width: 550px;
    position:fixed;
    /* formulaire initialement masqué */
    display: none;

}


/*bouton - initialement masqué */
.close-formSpot-btn{
    display: none;
}
.form-add-spot.active .close-formSpot-btn{
    display: flex;
}

   