footer{
    display: none;
}
#global-map{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}
#map{
    position: absolute;
    top: 0px;
    right: 0px;
    outline: none;
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
}



/**********----BOUTTON---*************/
/* Choix du tile layer */
.choose-layer-container{
    position: absolute;
    z-index: 9999;
    left: 50px;
    bottom: 0;
    margin-bottom: 10px;
    color: black;
    font-family: 'SkateFont2';
}
.choose-layer-item{
    padding: 1px;
    background-color: white;
    border: 1px solid white;
    border-radius: 2px;
    background-color: var(--transparent-background);
    border: 1px solid var(--text-color);
    color: var(--text-color);
}
.choose-layer-item span{
    color: black;
    font-size:22px;
    margin: 6px;
}
/* control de zoom Leaflet*/
.leaflet-top{
    top: unset !important;
    bottom:0 !important;
    margin-bottom:10px !important;
}
/*********form-spot*****************/
#add-user-pos{
    border: 1px solid black;
    padding: 6px;
    background-color: #93C5FD;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    cursor: pointer;
}
#add-user-pos:hover{
    background-color: #5aa7ff ;
    scale: 1.01;
}
#randomSpotButton{
    max-height: 47px;
    max-width: 47px;
    border: 1px solid red;
    border-radius: 12px;
    padding: 4px;
    background-color: var(--background-color);
    color: var(--text-color);
    box-shadow: var(--text-color) -2px 4px 0px;
    -webkit-border-radius: 12px;
    margin-bottom: 4px;
}
#randomSpotButton:hover{
    box-shadow: var(--text-color) -1px 2px 0px;
    transform: translateY(2px);
    background-color: var(--button-hover);
}
#randomSpotImg{
    max-height: 100%;
    max-width: 100%;
}

/*
#closeFormSpotCross{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 6px;
}
#closeFormSpotCross svg:hover{
    fill: red;
    transition: fill 0.2s;
    -webkit-transition: fill 0.2s;
    -moz-transition: fill 0.2s;
    -ms-transition: fill 0.2s;
    -o-transition: fill 0.2s;
}
#closeFormSpotCross svg{
    fill: black;
    transition: fill 0.2s;
    -webkit-transition: fill 0.2s;
    -moz-transition: fill 0.2s;
    -ms-transition: fill 0.2s;
    -o-transition: fill 0.2s;
}
#form-spot-id{
    background-color: rgba(255, 255, 255, 0.694);
    animation: fadeIn 0.5s ease;
    -webkit-animation: fadeIn 0.5s ease;
} */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }  
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { display: none; }
  }  
/* #form-spot-id>form{
    display: flex;
    flex-direction: column;
    background-color: transparent;

}
#form-spot-id form div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form>div>textarea{
    min-height: 50px;
    background-color: rgba(255, 255, 255, 0.451);
}
#form-spot-id form div input{
    background-color: rgba(255, 255, 255, 0.451);
} */





/*bouton - initialement masqué */
/* .close-formSpot-btn{
    display: none;
}
.form-add-spot.active .close-formSpot-btn{
    display: flex;
} */

/***************** PAGINATION **************/
/* Styles pour la pagination */
/* Styles pour la pagination */
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-top: 20px;
}

.pagination li {
    margin: 0 5px;
}

.pagination a, span.current {
    display: inline-block;
    padding: 8px 12px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}
span.current{
    background-color: #d8d8d8;
    border: 1px solid #727272;

}

.pagination a:hover {
    background-color: #ddd;
}

.pagination .active a {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.pagination .active a:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.pagination .disabled a {
    pointer-events: none;
    background-color: #f5f5f5;
    border-color: #ddd;
    color: #aaa;
}

.pagination .disabled a:hover {
    background-color: #f5f5f5;
}
/* Pour déplacer l'icon tarte au citron */
.tarteaucitronIconBottomLeft {
    bottom: 65px;
    left: 0;
}
/***********MODIF DU THEME LEAFLET *******************/
.leaflet-control-zoom-in, .leaflet-control-zoom-out{
    background-color: var(--transparent-background)!important;
    border: 1px solid var(--text-color)!important;
    color: var(--text-color)!important;
}
.leaflet-control-zoom{
    border: none!important;
}
#map-options-mobile {
    display: none;
}

/********OPTION MOBILE POUR LA MAP**********/
@media screen and (max-width: 768px) {
    .footer{
        display: none;
    }
    #map-options-mobile {
        display: unset;
        position: absolute;
        z-index: 11000;
        background-color: var(--bg-color);
        background-image: url('../img/nnnoise.svg');
        width: 100%;
        height: 100%;
        right: 0;
        bottom: -100%;
        transition: bottom 0.2s;
        -webkit-transition: bottom 0.2s;
        -moz-transition: bottom 0.2s;
        -ms-transition: bottom 0.2s;
        -o-transition: bottom 0.2s;
    }
    #map-options-mobile.active{
        bottom: 0;
    }
    #tarteaucitronIcon{
        display: none!important;
    }
}
/*********** fin map mobile***********/

/* Modification du style des popup Leaflet */
/* Style pour le conteneur de popup */
.leaflet-popup-tip {
    background-color: var(--background-color);
    box-shadow: var(--text-color) 0px 3px 0px;
    border: 1px solid var(--text-color);
}
.leaflet-popup-tip-container {
    bottom: -15px;}
.leaflet-popup-content-wrapper{
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    box-shadow: var(--text-color) -2px 4px 0px;
    padding: 12px;
    margin: 4px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
}
.leaflet-container a{
    color: var(--text-color);
}
.leaflet-container a h3{
    line-height: 1.75rem;
    font-size: 1rem;
}
.leaflet-container a .popup-spot-description{
    font-family: Annie Use Your Telescope;
    font-size: 1.25rem;
    line-height: 1.5rem;
}
.leaflet-popup-content{
    margin: unset;
}
.leaflet-popup-content p{
    margin: unset;
}
.leaflet-container a.leaflet-popup-close-button {
    top: 6px;
    right: 6px;
    color: var(--text-color);
    font-size: 1.5rem;
}
