.desktop-nav img, .mobile-nav img{
    max-width: 100px;
    height: 100%;
}

.desktop-nav{
    display: none;
    align-items: center;
    justify-content: space-between;
    /* Couleur de la nav - Transparent si commenté */
    /* background-color: var(--menu-background); */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.main-nav{  
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.user-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.user-nav a{
    margin: 1rem;
}

/* NAV MOBILE */
.mobile-nav{
    display: flex;
    align-items: center;
    background-color: var(--menu-background);
    padding-left: 1rem;
    z-index: 1234567890;
    position: absolute;
    width: 100%;
    height: 50px;
}
/* Sidenav menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 10001;
    top: 0;
    left: -250px;
    background-color: var(--menu-background);
    padding-top: 1rem;
    transition: left 0.5s ease;
    color: var(--text-color-opposite);
  }
  
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    color: var(--text-color);
  }
  .arrow-container{
    display: flex!important;
    height: 100px;
  }
  
  .sidenav a:hover {
    color: #111;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Active class */
  .sidenav.active {
    left: 0;
  }
  
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  /* Icône burger */
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
    .mobile-nav a#logo-container{
        margin: auto;
        height: 100%;
    }

/* Responsive */
@media (min-width: 768px) {
    .desktop-nav{
        display: flex ;
    }
    #mySideNav, #nav-close-btn, .mobile-nav{
        display: none;
    }
}