.desktop-nav img, .mobile-nav img{
    max-width: 100px;
    height: 100%;
}

.desktop-nav{
    display: none;
    align-items: center;
    justify-content: space-between;
    /* Couleur de la nav - Transparent si commenté */
    /* background-color: var(--menu-background); */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.main-nav{  
    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.user-nav a{
    margin: 1rem;
}

/* NAV MOBILE */
.mobile-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--menu-background);
    padding-left: 1rem;
    z-index: 1234567890;
    position: absolute;
    width: 100%;
    height: 50px;
}
/* Sidenav menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 99999999999;
    top: 0;
    right: -250px;
    background-color: var(--menu-background);
    padding-top: 1rem;
    transition: right 0.5s ease;
    color: var(--text-color-opposite);
    -webkit-transition: right 0.5s ease;
    -moz-transition: right 0.5s ease;
    -ms-transition: right 0.5s ease;
    -o-transition: right 0.5s ease;
}
  
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    color: var(--text-color);
  }
  /* Style de la flèche */
.arrow-left {
  display: flex;
  align-items: center;
  width: 100%;
}

.arrow-body {
  width: 20px; /* Largeur du corps de la flèche */
  height: 5px; /* Hauteur du corps de la flèche */
  background-color: #000; /* Couleur du corps de la flèche */
  margin-right: 10px; /* Espacement entre la tête et le corps de la flèche */
  width: 100%;
}

.arrow-left::before {
  content: '';
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #000; /* Couleur de la tête de la flèche */
}
/* Style du conteneur */
.arrow-container {
  padding-left: 80%;
  width: 100%; /* Vous pouvez modifier la largeur ici */
  background-color: var(--background-color); /* Couleur de fond de la div */
  transform: rotate(180deg);
  display: flex!important;
  height: 100px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav-open-btn{
  margin-right: 6px;
}
  .sidenav a:hover {
    color: #111;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Active class */
  .sidenav.active {
    right: 0;
  }
  
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  /* Icône burger */
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
    .mobile-nav a#logo-container{
        margin: auto;
        height: 100%;
    }

/* Responsive */
@media (min-width: 768px) {
    .desktop-nav{
        display: flex ;
    }
    #mySideNav, #nav-close-btn, .mobile-nav{
        display: none;
    }
}