/************-------Formulaires----------************* */
/* Noter ce spot */
form[name="notation"] {
	width: fit-content;
}

#notation {
	display: flex;
	align-items: center;
	border: 1px solid black;
	padding: 5px;
	gap: 10px;
}
#notation div button[type="submit"] {
	padding: 1px;
	border: 1px solid black;
}
#notation div select {
	background-color: var(--text-color-opposite);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}
.show-spot-title {
	font-family: SkateFont2;
	font-size: 4rem;
}
.show-spot-global {
	display: flex;
	justify-content: space-between;
}
.show-contribute-note form div {
	display: flex;
	align-items: baseline;
}
.show-contribute-note form {
	display: flex;
	align-items: center;
}

/* ***** */
/* Style de base pour le tableau */
table {
	/* width: 100%; */
	border-collapse: collapse;
	font-family: Arial, sans-serif;
	font-size: 14px;
	margin-bottom: 20px;
	margin: 1rem;
}

/* Style pour les cellules du tableau */
table td {
	padding: 10px;
	border: 1px solid #ddd;
	text-align: center;
	position: relative;
}

/* Style pour les listes à puces dans la deuxième colonne */
table td ul {
	margin: 0;
	padding-left: 20px;
	text-align: left;
}

/* Style pour les éléments de liste dans la deuxième colonne */
table td ul li {
	list-style: disc;
	margin-bottom: 5px;
}

.comment-box {
	margin: 1rem;
	padding: 1rem;
	border-radius: 0.5rem;
	max-width: 28rem;
	background-color: var(--transparent-background);
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.comment-author-and-date {
	display: flex;
	justify-content: space-between;
	color: var(--text-color);
}
.comment-content {
	font-family: Annie Use Your Telescope;
	font-size: 1.25rem;
}
#ressource-icon,
img#like-icon,
#indoor-icon,
#outdoor-icon,
img#street-icon,
img#skatepark-icon {
	display: inherit;
	width: 50px;
	height: 50px;
	fill: var(--text-color);
	color: var(--text-color);
}
.nb-like {
	position: absolute;
	top: 41%;
	left: 48.5%;
}
#like-icon {
	position: absolute;
	top: 30%;
	left: 29%;
}
.show-td-detail {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#show-spot-validate {
	display: flex;
	align-items: center;
	background-color: var(--text-color);
	color: var(--text-color-opposite);
	width: fit-content;
	padding: 0.25rem;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
#validate-and-note-container {
	display: flex;
	align-items: end;
	justify-content: center;
	flex-direction: column;
}
#main-show {
	margin:0 20%;
	margin-top: 100px;
}
.comment-box {
	background-color: rgba(212, 212, 212, 0.273);
}
.description-box{
	background-color: rgba(212, 212, 212, 0.273);
}
#comment-section {
	max-height: 100vh;
	overflow-y: scroll;
}

/*********************** MODAL ***************/
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.9);
	
  }
  #imageModal{
	padding: 100px;
  }
  .modal-content {
	margin: auto;
	max-width: 100%; /* Pour que l'image s'adapte à la largeur de l'écran */
	max-height: 100%; /* Pour que l'image s'adapte à la hauteur de l'écran */
    display: flex;
    align-items: center;
    justify-content: center;
}
  .modal-container {
	position: relative;
  }
  #modalImage{
	box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
  }
	