body{
    overflow-x: hidden;
}
*{
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img.logo-strasspot-homepage{
    max-width: 100%;
}
.home-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
   
/********************IMAGES**********************************/

.image-show-spot{
    width: 400px;
}
/*************SHOW_SPOT******************/
.show_spot_note{
    display: flex;
    align-items: center;
}
