{% extends 'base.html.twig' %}

{% block title %}Hello PlaygroundController!{% endblock %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/playground/first.css') }}">


<div id="my-container">
  <a href="">
    <div id="board">
        <div id="holes-container">
            <div class="hole topLeft"></div>
            <div class="hole topRight"></div>
            <div class="hole botLeft"></div>
            <div class="hole botRight"></div>
        </div>
        <div id="skate-text">
          <p>MYSPOT</p>
        </div>
        <div id="holes-container">
            <div class="hole topLeft "></div>
            <div class="hole topRight"></div>
            <div class="hole botLeft"></div>
            <div class="hole botRight"></div>
        </div>
    </div>
  </a>
</div>

<script src="{{ asset('js/playground/first.js') }}"></script>
{% endblock %}
