{% extends 'base.html.twig' %}

{% block title %}Hello Playground_2{% endblock %}

{% block body %}
<style>

#skateboard {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  scale: 0.75;
  width: 50px;
  height: 170px;
}
#skateboard .board {
  width: 50px;
  height: 170px;
  border-radius: 25px;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 2px red solid;

}
#skateboard .wheels {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: -8px;
}

#skateboard .screw-holes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
}
#skateboard .screw-holes div {
  background: var(--text-color);
  width: 4px;
  height: 4px;
  border-radius: 2px;
}
.skateboard-wrapper {
  transition: transform 1.2s ease; /* Ajoute une transition fluide */
}

#skateboard:hover .skateboard-wrapper {
  transform: rotateY(360deg); /* Rotation initiale à 0 degrés sur l'axe Y */

}
/* Style pour le texte "MySpot" */
.myspot-text {
  position: absolute;
  transform: translate(-50%, -50%); /* Pour centrer parfaitement le texte */
  font-size: 18px; /* Taille de la police du texte */
  color: var(--text-color); /* Couleur du texte */
  text-align:center;
  transform: rotate(-90deg);
  color: black;
}
.centered-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
        
  <div class="child" id="skateboard">
    <div class="skateboard-wrapper">
      <div class="board">
        <div class="screw-holes">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <h5 class="centered-container">
          <p class=" myspot-text">MySpot</p>
        </h5>
        <div class="screw-holes">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
