{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}
    <style>
        /* Style pour le conteneur principal de la politique de confidentialité */
        #privacy-policy {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        /* Style pour les titres */
        h1 {

            background-color: #333;
            color: #ffffff;
            padding: 20px 0;
            text-align: center;
            font-size: 2em;
            margin-bottom: 30px;
        }

        /* Style pour les sections */
        section {
            margin-bottom: 20px;
        }

        /* Style pour les paragraphes */
        p, ul, li {
            line-height: 1.5;
            font-family: SkateFont3;
        }

        /* Style pour les liens */


        /* Style pour la zone de contact */
        #contact-info {
            margin-top: 20px;
            font-size: 14px;
            color: #777;
        }

        /* Style pour la zone de pied de page */
        #footer {
            margin-top: 40px;
            font-size: 12px;
            color: #999;
        }
    </style>
</head>
    <h1>&#x1F6F9 Politique de confidentialité du site MySpots    &#x1F6F9</h1>
    <div id="privacy-policy">
        <p><em>Dernière mise à jour : 22/09/2023</em></p>
        
        <p>Nous sommes conscients de l'importance de la protection de la vie privée de nos utilisateurs. Cette Politique de Confidentialité vise à vous informer sur la manière dont nous collectons, utilisons, partageons et protégeons vos informations personnelles lorsque vous utilisez MySpots (ci-après dénommée "l'Application").</p>
        
        <section>
            <h2>1. Informations Personnelles Collectées</h2>
            <p>Lorsque vous utilisez l'Application, nous pouvons collecter les informations personnelles suivantes :</p>
            <ul>
                <li>Informations d'identification : Lors de l'inscription ou de la création d'un compte, nous collectons votre adresse e-mail, et d'autres informations nécessaires à la création de votre profil utilisateur.</li>
                <li>Données de localisation : Si vous utilisez la fonction de localisation de l'Application pour consulter des Spots, nous pouvons collecter des données de localisation pour améliorer votre expérience.</li>
                <li>Données d'utilisation : Nous pouvons collecter des informations sur la manière dont vous utilisez l'Application, telles que les Spots que vous proposez, ceux que vous ajoutez en favoris, les notes attribuées, les interactions avec d'autres utilisateurs et les autres activités de votre compte.</li>
            </ul>
        </section>
        
        <section>
            <h2>2. Utilisation des Informations Personnelles</h2>
            <p>Nous utilisons les informations personnelles collectées pour les finalités suivantes :</p>
            <ul>
                <li>Fournir et améliorer le service : Nous utilisons vos informations pour vous fournir l'accès à l'Application, personnaliser votre expérience, et améliorer nos services.</li>
                <li>Communication : Nous pouvons vous envoyer des notifications, des mises à jour ou des informations relatives à l'Application.</li>
                <li>Sécurité : Nous utilisons vos informations pour protéger l'Application et nos utilisateurs contre les activités frauduleuses ou malveillantes.</li>
            </ul>
        </section>
        
        <section>
            <h2>3. Partage des Informations Personnelles</h2>
            <p>Nous ne partageons pas vos informations personnelles avec des tiers, sauf dans les cas suivants :</p>
            <ul>
                <li>Consentement : Lorsque vous donnez votre consentement explicite pour le partage de vos informations.</li>
                <li>Obligations légales : Si nous sommes légalement tenus de divulguer vos informations.</li>
            </ul>
        </section>
        
        <section>
            <h2>4. Sécurité des Informations Personnelles</h2>
            <p>Nous mettons en place des mesures de sécurité appropriées pour protéger vos informations personnelles contre tout accès non autorisé, divulgation, altération ou destruction.</p>
        </section>
        
        <section>
            <h2>5. Vos Droits</h2>
            <p>Vous avez le droit d'accéder, de rectifier ou de supprimer vos informations personnelles. Vous pouvez également retirer votre consentement à tout moment.</p>
        </section>
        
        <section>
            <h2>6. Contact</h2>
            <p>Si vous avez des questions ou des préoccupations concernant cette Politique de Confidentialité, veuillez nous contacter à <a href="mailto:sebastien.pothee.dev@gmail.com">sebastien.pothee.dev@gmail.com</a>.</p>
        </section>
        
        <div id="footer">
            <p>© 2023 Seb-Pot-Dev. Tous droits réservés.</p>
        </div>
    </div>
{% endblock %}
